<p class="post-title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="post-author">
	<p class="lead"><%= @post.user.username %> Says</p>
</p>


<p class="post-content">
	<%= @post.content %>
</p>

<p class="post-abilities-tab">
<%= link_to 'Edit', edit_post_path(@post) %> 

<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>

</p>
<%= link_to 'Back', posts_path %>

<hr>

<%= render :partial => '/layouts/comments' %>

<div class="post-comments">
	<h2>Comments</h2>
	<% @post.comments.each do |comment| %>
		<p><%= comment.body %></p>
	<% end %>
</div>




