<p class="post-title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="post-author">
	<p class="lead"><%= @post.user.username %> Says</p>
</p>


<p class="post-content">
	<%= @post.content %>
</p>

<p class="post-abilities-tab">
	<%= link_to 'Edit', edit_post_path(@post) %> 
	<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
</p>

<%= link_to 'Back', posts_path %>

<hr>

<%= render :partial => '/layouts/comments' %>

<div class="post-comments">
	<h3>Comments</h3>
<% if @post.comments.count != 0 %>
	<% @post.comments.each do |comment| %>
	<div class="panel panel-default">
		<div class="comment-head panel-heading">
			<h4><%= comment.user %>  <span class="upvotes">&#x25B2; <%= comment.upvotes %></span> <span class="downvotes">&#x25BC; 
			<%= comment.downvotes %></span> | Submitted <%= time_ago_in_words (comment.created_at) unless comment.created_at.blank? %> ago</h4>
		</div>
		<div class="panel-body">
		<%= comment.body %>
		</div>
	</div>
	<% end %>
<% else %>
<p>No comments yet-be the first!</p>
</div>
<% end %>






