<p class="post-title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="post-author">
	<p class="lead"><%= @post.user.username %> Says</p>
</p>


<p class="post-content">
	<%= @post.content %>
</p>

<p class="post-abilities-tab">
	<%= link_to 'Edit', edit_post_path(@post) %> 
	<%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
</p>
<%= link_to 'Back', posts_path %>

<hr>

<div class="post-comments">
	<h3>Comments</h3>

	<%= render 'posts/comments' %>

<h3>Add a comment:</h3>
<%= form_for([@post, @post.comments.build], remote: true, data: {type: 'text' }) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>
<hr>






