<div id="footer-container" class="container text-center"">
	<div id="footer" class="row>
		<%= link_to 'about', about_path %> |
		<%= link_to 'contact', contact_path %> |
		<%= link_to 'faq', faq_path %> |
		<%= link_to 'help', help_path %>
		<div id="kellogg-web-studio">
			Web Design by <%= link_to 'Kellogg Web Studio', 'http://kelloggwebstudio.com/' %>
		</div>
	</div>
</div>